@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  right: 0;
  height: 10px;
  background: #000;
  transform-origin: 0%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
/*border: 1px red solid;*/
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
